<h2>Resumen de tareas</h2>
<h3>Usuario : <%= @loged_user.nombre + " " + @loged_user.apellido %></h3> 
<div align = "right">
	<%= link_to 'Volver', :controller => 'access', :action => 'index' %> | 
	<%= link_to 'Nueva tarea', new_tarea_path %> | 
	<%= link_to 'Exportar', :controller => 'access', :action => 'index' %>
</div>

<div class="row"> 
<div class="CSSTableGenerator">
<table>
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
	<th>Tipo</th>
	<th>Fecha</th>
	<th>Horas</th>
	<th colspan = 4>Opciones</th>
  </tr>
 
  <% @tareas.each do |t| %>
    <tr>
      <td><%= t.titulo %></td>
      <td><%= t.desc %></td>
	  <td><%= t.tipo.nombre %></td>
	  <td><%= t.fecha %></td>
	  <td><%= t.horas %></td>
	  <td>
			<%= link_to :action => 'repetir_tarea', :id => t.id, class: "btn btn-default" do %>
				<span class="glyphicon glyphicon-repeat has-tooltip" data-toggle="tooltip" title="Repetir"></span>
			<% end %>
	  </td>
	  <td>
			<%= link_to :action => 'show', :id => t.id, class: "btn btn-default" do %>
				<span class="glyphicon glyphicon-list-alt has-tooltip" data-toggle="tooltip" title="Ver"></span>
			<% end %>
	  </td>
	  <td>
			<%= link_to :action => 'edit', :id => t.id, class: "btn btn-default" do %>
				<span class="glyphicon glyphicon-pencil has-tooltip" data-toggle="tooltip" title="Editar"></span>
			<% end %>
	  </td>
	  <td>
			<%= link_to :action => 'destroy', :id => t.id, class: "btn btn-default" do %>
				<span class="glyphicon glyphicon-trash has-tooltip" data-toggle="tooltip" title="Eliminar"></span>
			<% end %>
	  </td>
    </tr>
  <% end %>
</table>

<% if @tareas %>
  <div align = "right"><%= will_paginate @tareas, :class => 'PaginationDiv' %></div>
<% end %>

</div>
</div>