<h2>Edicion de tipos</h2>

<%= link_to 'Volver', tipos_path %>

<div class="row"> 
<div class="col-md-6 col-md-offset-3">

<%= form_for :tipo, url: tipo_path(@tipo), method: :patch do |f| %>
  <% if @tipo.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tipo.errors.count, "error") %> prohibited
      this type from being saved:</h2>
    <ul>
    <% @tipo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>
 
  <p>
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </p>
 
  <p>
    <%= f.submit :Guardar , class: "btn btn-primary"%>
  </p>
<% end %>

</div>
</div>