<h2>Detalles del tipo</h2> 

<%= link_to 'Volver', tipos_path %>

<p>
  <strong>Nombre:</strong>
  <%= @tipo.nombre %>
</p>
 
<p>
  <strong>Descripcion:</strong>
  <%= @tipo.desc %>
</p>

<p>
  <strong>Creado el</strong>
  <%= @tipo.created_at %>
</p>

<p>
  <strong>Actualizado el</strong>
  <%= @tipo.updated_at %>
</p>