<h1>Registrar nuevo usuario</h1> 

<%= link_to 'Volver', usuarios_path %>

<div class="row"> 
<div class="col-md-6 col-md-offset-3">

<%= form_for :usuario, url: usuarios_path do |f| %>

   <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
      <ul>
        <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>
	 
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>
 
  <p>
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </p>
  
  <p>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </p>
  
  <p>
    <%= f.label :contrasenia %><br>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
 
  <p>
     <select name="user_perfil">
      <%= @perfiles.each do |p| %>
        <option value="<%= p.id %>"><%= p.nombre %></option>
      <% end %>
    </select>
  </p>
  <p>
    <%= f.submit :Guardar %>
  </p>
<% end %>

</div>
</div>
